:root {
    /*全局变量*/
    --color-r: #fff;
    --color-o: #ff6700;
    --color-b: #333;
    --color-g: #b0b0b0;
    --var-10: 10px;
    --var-20: 20px;
    --var-30: 30px;
    --var-40: 40px;
    --var-100: 100px;
    --width: 1226px;
}

:root {
    --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
    --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
    --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);
    --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
    --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
}

body {
    min-height: 100vh;
    color: var(--color-b);
    background: var(--color-r);
    transition: color 0.5s, background-color 0.5s;
    line-height: 1.6;
    font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
